@use "@carbon/layout";

.standardmargin {
  margin: layout.$spacing-05;
}
.avatar {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
}

.problemUL {
  list-style-position: inside;
  line-height:140%;
  list-style-type: square;
  margin: 1%;
  font-size:12pt;
}

.problemLI {
  margin: 1%;
}